<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="polaris.logging.pattern">
            %d{yyyy-MM-dd HH:mm:ss.SSS}{GMT+4} %5p [%traceId] ${hostName} --- [%t] %c{1.} : %m%n
        </Property>
        <property name="polaris.application.name">${bundle:application:spring.application.name}</property>
        <property name="polaris.logging.basedir">${sys:polaris.logging.basedir:-./logs}</property>
    </Properties>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${polaris.logging.pattern}"/>
        </Console>
        <RollingFile name="FileAppender" fileName="${polaris.logging.basedir}/${polaris.application.name}/app.log"
                     filePattern="${polaris.logging.basedir}/${polaris.application.name}/$${date:yyyy-MM}/app-%d{yyyy-MM-dd-HH}-%i.log.zip">
            <PatternLayout>
                <Pattern>${polaris.logging.pattern}</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="100MB"/>
            </Policies>
        </RollingFile>
        <Async name="asyncLogAppender">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="FileAppender"/>
        </Async>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="asyncLogAppender"/>
        </Root>
    </Loggers>
</Configuration>